body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #CC0000;
   background-image: none;
   border: 1px solid #E3A1A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(204,0,0,1.00);
   --border-color: #E3A1A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #EEEEEE;
   border-radius: 0px;
   color: #333333;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #EEEEEE;
   --border-width: 1px;
   --color: #333333;
   --icon-color: #CC0000;
   --colorize: invert(8%) sepia(100%) saturate(7166%) hue-rotate(8deg) brightness(90%) contrast(111%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #D8DCDF;
   border-radius: 0px;
   color: #004276;
   --background-color: rgba(238,238,238,1.00);
   --border-color: #D8DCDF;
   --border-width: 1px;
   --color: #004276;
}
.wb-theme-button:hover
{
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #CDD5DA;
   border-radius: 0px;
   color: #111111;
   --background-color: rgba(246,246,246,1.00);
   --border-color: #CDD5DA;
   --border-width: 1px;
   --color: #111111;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #EEEEEE;
   border-radius: 0px;
   color: #CC0000;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #EEEEEE;
   --border-width: 1px;
   --color: #CC0000;
}
.darktheme .wb-theme-header
{
   background-color: #CC0000;
   background-image: none;
   border: 1px solid #E3A1A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(204,0,0,1.00);
   --border-color: #E3A1A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #CC0000;
   --colorize: invert(10%) sepia(97%) saturate(5949%) hue-rotate(8deg) brightness(89%) contrast(116%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(0,0,0,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #CDD5DA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #CDD5DA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_headerLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #444444;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid1
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#headerLayoutGrid1 > .row > .col-1, #headerLayoutGrid1 > .row > .col-2, #headerLayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid1 > .row > .col-1, #headerLayoutGrid1 > .row > .col-2, #headerLayoutGrid1 > .row > .col-3
{
   float: left;
}
#headerLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#headerLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: right;
}
#headerLayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: right;
}
#headerLayoutGrid1:before,
#headerLayoutGrid1:after,
#headerLayoutGrid1 .row:before,
#headerLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#headerLayoutGrid1:after,
#headerLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#headerLayoutGrid1 > .row > .col-1, #headerLayoutGrid1 > .row > .col-2, #headerLayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#headerBreadcrumb
{
   list-style: none;
   padding: 12px 15px 12px 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#headerBreadcrumb > li
{
   display: inline-block;
   font-size: 24px;
   text-transform: none;
}
#headerBreadcrumb a
{
   color: #FFFFFF;
   text-decoration: none;
}
#headerBreadcrumb a:hover
{
   color: #808080;
   text-decoration: none;
}
#headerBreadcrumb > .active
{
   color: #808080;
}
#headerBreadcrumb > .active a
{
   color: inherit;
   pointer-events: none;
}
#headerBreadcrumb > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_headerIcon1
{
   background: transparent !important;
   border: none !important;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#headerIcon1
{
   height: 51px;
   width: 52px;
}
#headerIcon1 i
{
   color: inherit;
   display: inline-block;
   font-size: 51px;
   line-height: 51px;
   vertical-align: middle;
   width: 50px;
}
#headerIcon1
{
   color: var(--icon-color);
}
#wb_headerIcon1 a
{
   color: inherit;
}
#wb_headerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 5px 0 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#headerIcon2
{
   height: 37px;
   width: 43px;
}
#headerIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 37px;
   line-height: 37px;
   vertical-align: middle;
   width: 36px;
}
#wb_headerIcon2:hover #headerIcon2 i
{
   color: #FFFFFF;
}
#wb_headerIcon2
{
   transition: all 500ms linear 0ms;
}
#headerButton
{
   box-sizing: border-box;
   line-height: 35px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 0 0 ;
}
#headerButton:focus
{
   outline: 0;
}
#wb_headerHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   vertical-align: top;
   margin: 0;
   padding: 5px 0 5px 0;
   text-align: left;
}
#headerHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_headerLayoutGrid2
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #333333;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid2
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   float: left;
}
#headerLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#headerLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: right;
}
#headerLayoutGrid2:before,
#headerLayoutGrid2:after,
#headerLayoutGrid2 .row:before,
#headerLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#headerLayoutGrid2:after,
#headerLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #EDE9E1;
   text-align: left;
   text-transform: capitalize;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.show 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.headerMenu .arrow, .headerMenu .arrow-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #EDE9E1;
   text-transform: none;
   white-space: nowrap;
}
.headerMenu .dropdown-menu > li > a:hover,
.headerMenu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #9B643A;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .dropdown-menu > li > a.active,
.headerMenu .dropdown-menu > li > a.active:hover,
.headerMenu .dropdown-menu > li > a.active:focus
{
   color: #9B643A;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.headerMenu .show > .dropdown-menu
{
   display: block;
}
.headerMenu .show > a
{
   outline: 0;
}
.headerMenu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .dropdown.show .dropdown-menu
{
   animation-name: headerMenu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes headerMenu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.headerMenu .nav > li 
{
   position: relative;
   display: block;
}
.headerMenu .nav > li > a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.headerMenu .nav .show > a,
.headerMenu .nav .show > a:hover,
.headerMenu .nav .show > a:focus
{
    border-color: #343A40;
}
.headerMenu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .nav .arrow
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
}
.headerMenu:before,
.headerMenu:after
{
   content: " ";
   display: table;
}
.headerMenu:after
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after
{
   clear: both;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: left;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.headerMenu .navbar-nav
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.headerMenu .navbar-nav > li > a
{
   color: #EDE9E1;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #9B643A;
   text-decoration: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #9B643A;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.headerMenu .navbar-nav > .dropdown > a:hover .arrow,
.headerMenu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #9B643A;
   border-bottom-color: #9B643A;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #9B643A;
}
.headerMenu .navbar-nav > .show > a .arrow,
.headerMenu .navbar-nav > .show > a:hover .arrow,
.headerMenu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #9B643A;
   border-bottom-color: #9B643A;
}
.headerMenu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #EDE9E1;
   border-bottom-color: #EDE9E1;
}
.headerMenu .navbar-link
{
   color: #EDE9E1;
}
.headerMenu .navbar-link:hover
{
   color: #9B643A;
}
.headerMenu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header
{
   float: left;
}
.headerMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav
{
   float: left;
   margin: 0;
}
.headerMenu .navbar-nav > li
{
   float: left;
}
.headerMenu .container > .navbar-header,
.headerMenu .container > .headerMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav > .dropdown > a:hover .arrow,
.headerMenu .navbar-nav > .dropdown > a:focus .arrow
{
   border-top-color: #808080;
   border-bottom-color: #808080;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.headerMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a,
.headerMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.headerMenu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   color: #808080;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #808080;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #808080;
}
.headerMenu .navbar-nav > .dropdown > a:hover .arrow
{
   border-top-color: #808080;
   border-bottom-color: #808080;
}
.headerMenu .navbar-nav > .dropdown > a .arrow
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a.active > .arrow,
.headerMenu .navbar-nav > li > a.active:hover > .arrow,
.headerMenu .navbar-nav > li > a.active:focus > .arrow
{
   border-top-color: #808080;
   border-bottom-color: #808080;
}
.headerMenu .navbar-nav > .show > a .arrow,
.headerMenu .navbar-nav > .show > a:hover .arrow,
.headerMenu .navbar-nav > .show > a:focus .arrow
{
   border-top-color: #808080;
   border-bottom-color: #808080;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
.headerMenu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.headerMenu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_headerIcon3
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_headerIcon3:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#headerIcon3
{
   height: 23px;
   width: 23px;
}
#headerIcon3 i
{
   color: #333333;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 22px;
}
#wb_headerIcon3:hover #headerIcon3 i
{
   color: #645E59;
}
#wb_headerIcon4
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_headerIcon4:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#headerIcon4
{
   height: 23px;
   width: 23px;
}
#headerIcon4 i
{
   color: #333333;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 22px;
}
#wb_headerIcon4:hover #headerIcon4 i
{
   color: #645E59;
}
#wb_headerIcon5
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon5 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_headerIcon5:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#headerIcon5
{
   height: 23px;
   width: 23px;
}
#headerIcon5 i
{
   color: #333333;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 22px;
}
#wb_headerIcon5:hover #headerIcon5 i
{
   color: #645E59;
}
#wb_headerIcon6
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 4px;
   text-align: center;
   margin: 10px 5px 0 0 ;
   padding: 2px 2px 2px 2px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon6 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_headerIcon6:hover
{
   background-color: #EDE9E1;
   background-image: none;
   border: 0px solid #645E59;
}
#headerIcon6
{
   height: 23px;
   width: 23px;
}
#headerIcon6 i
{
   color: #333333;
   display: inline-block;
   font-size: 23px;
   line-height: 23px;
   vertical-align: middle;
   width: 24px;
}
#wb_headerIcon6:hover #headerIcon6 i
{
   color: #645E59;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #323232;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#footerLine
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 25px 0 25px 0 ;
   padding: 0;
}
#wb_footerMenu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
   position: relative;
   z-index: 1111 !important;
}
#wb_footerMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_footerMenu li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_footerMenu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: capitalize;
   text-align: left;
   vertical-align: middle;
}
#wb_footerMenu > ul > li > a
{
   height: 22px;
   line-height: 22px;
   padding: 0px 5px 0px 5px;
}
#wb_footerMenu li:hover a, #wb_footerMenu a:hover
{
   color: #FFFFFF;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_footerMenu li.firstmain
{
   padding-left: 0px;
}
#wb_footerMenu li.lastmain
{
   padding-right: 0px;
}
#wb_footerMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_footerCopyright 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerCopyright div
{
   text-align: center;
}
#wb_footerCopyright
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_heroLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#heroLayoutGrid
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#heroLayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#heroLayoutGrid > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#heroLayoutGrid > .row > .col-1
{
   float: left;
}
#heroLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#heroLayoutGrid:before,
#heroLayoutGrid:after,
#heroLayoutGrid .row:before,
#heroLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#heroLayoutGrid:after,
#heroLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#heroLayoutGrid > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_heroHeading1
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#heroHeading1
{
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#heroHeading1
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_heroHeading2
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#heroHeading2
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#heroHeading2
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_blogLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blogLayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 50px 0 0 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#blogLayoutGrid2 > .col-1, #blogLayoutGrid2 > .col-2, #blogLayoutGrid2 > .col-3, #blogLayoutGrid2 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blogLayoutGrid2 > .col-1, #blogLayoutGrid2 > .col-2, #blogLayoutGrid2 > .col-3, #blogLayoutGrid2 > .col-4
{
   flex: 0 0 auto;
}
#blogLayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid2 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#blogLayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-basis: 60px;
   max-width: 60px;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#blogLayoutGrid2 > .col-2::before
{
   content: "";
   border-left: 3px solid #000000;
   width: 0px;
   height: 100%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
#blogLayoutGrid2 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 1.67);
   max-width:  calc((100% - 60px) / 1.67);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid2 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#blogLayoutGrid2 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#blogLayoutGrid2 > .col-1, #blogLayoutGrid2 > .col-2, #blogLayoutGrid2 > .col-3, #blogLayoutGrid2 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Shape1
{
   margin: 25px 0 0 0 ;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_blogCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
}
#blogCard1{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#blogCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#blogCard1-card-item0
{
   box-sizing: border-box;
   margin: 15px 0 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 48px;
   width: 100%;
   height: 48px;
}
#blogCard1-card-item1
{
   box-sizing: border-box;
   margin: -60px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
   text-align: right;
}
#blogCard1-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard1-card-item1 i
{
   color: #1DA1F2;
   margin-left: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#blogCard1-card-item2
{
   box-sizing: border-box;
   margin: -40px 0 0 0 ;
   padding: 0 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#blogCard1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard1-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: left;
}
#blogCard1-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard1-card-item4
{
   box-sizing: border-box;
   margin: 10px 20px 10px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
}
#blogCard1-card-item5
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#blogCard1-card-item6
{
   box-sizing: border-box;
   margin: 0 20px 16px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard1-card-item7
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard1-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard1-card-item8
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard1-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard1-card-item9
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard1-card-item9 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard1-card-item10
{
   box-sizing: border-box;
   margin: 0 20px 10px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard1 .popover-arrow
{
   position: absolute;
   display: block;
   width: 19px;
   height: 9.5px;
   margin: 0;
}
#blogCard1 .popover-arrow::before, #blogCard1 .popover-arrow::after
{
   position: absolute;
   display: block;
   content: "";
   border-color: transparent;
   border-style: solid;
}
#blogCard1, .blogCard1.bs-popover-auto[x-placement^="right"]
{
   margin-left: 9.5px;
}
#blogCard1 > .popover-arrow, .blogCard1.bs-popover-auto[x-placement^="right"] > .popover-arrow 
{
   left: 0;
   width: 9.5px;
   height: 19px;
   margin: 0;
}
#blogCard1 > .popover-arrow::before, .blogCard1.bs-popover-auto[x-placement^="right"] > .popover-arrow::before
{
   left: 0;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #DEDEDE;
}
#blogCard1 > .popover-arrow::after, .blogCard1.bs-popover-auto[x-placement^="right"] > .popover-arrow::after
{
   left: 1px;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #FFFFFF;
}
#blogCard1 .popover-arrow{
   top: 9.5px;
}
#blogCard1{
   height: 100%;
}
#wb_blogLayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blogLayoutGrid3
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#blogLayoutGrid3 > .col-1, #blogLayoutGrid3 > .col-2, #blogLayoutGrid3 > .col-3, #blogLayoutGrid3 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blogLayoutGrid3 > .col-1, #blogLayoutGrid3 > .col-2, #blogLayoutGrid3 > .col-3, #blogLayoutGrid3 > .col-4
{
   flex: 0 0 auto;
}
#blogLayoutGrid3 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid3 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#blogLayoutGrid3 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-basis: 60px;
   max-width: 60px;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#blogLayoutGrid3 > .col-2::before
{
   content: "";
   border-left: 3px solid #000000;
   width: 0px;
   height: 100%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
#blogLayoutGrid3 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 1.67);
   max-width:  calc((100% - 60px) / 1.67);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid3 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#blogLayoutGrid3 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#blogLayoutGrid3 > .col-1, #blogLayoutGrid3 > .col-2, #blogLayoutGrid3 > .col-3, #blogLayoutGrid3 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape2
{
   margin: 25px 0 0 0 ;
   vertical-align: top;
}
#wb_blogCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
}
#blogCard2{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#blogCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#blogCard2-card-item0
{
   box-sizing: border-box;
   margin: 15px 0 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 48px;
   width: 100%;
   height: 48px;
}
#blogCard2-card-item1
{
   box-sizing: border-box;
   margin: -60px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
   text-align: right;
}
#blogCard2-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard2-card-item1 i
{
   color: #1DA1F2;
   margin-left: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#blogCard2-card-item2
{
   box-sizing: border-box;
   margin: -40px 0 0 0 ;
   padding: 0 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#blogCard2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard2-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: left;
}
#blogCard2-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard2-card-item4
{
   box-sizing: border-box;
   margin: 10px 20px 10px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
}
#blogCard2-card-item5
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#blogCard2-card-item6
{
   box-sizing: border-box;
   margin: 0 20px 16px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard2-card-item7
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard2-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard2-card-item8
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard2-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard2-card-item9
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard2-card-item9 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard2-card-item10
{
   box-sizing: border-box;
   margin: 0 20px 10px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard2 .popover-arrow
{
   position: absolute;
   display: block;
   width: 19px;
   height: 9.5px;
   margin: 0;
}
#blogCard2 .popover-arrow::before, #blogCard2 .popover-arrow::after
{
   position: absolute;
   display: block;
   content: "";
   border-color: transparent;
   border-style: solid;
}
#blogCard2, .blogCard2.bs-popover-auto[x-placement^="right"]
{
   margin-left: 9.5px;
}
#blogCard2 > .popover-arrow, .blogCard2.bs-popover-auto[x-placement^="right"] > .popover-arrow 
{
   left: 0;
   width: 9.5px;
   height: 19px;
   margin: 0;
}
#blogCard2 > .popover-arrow::before, .blogCard2.bs-popover-auto[x-placement^="right"] > .popover-arrow::before
{
   left: 0;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #DEDEDE;
}
#blogCard2 > .popover-arrow::after, .blogCard2.bs-popover-auto[x-placement^="right"] > .popover-arrow::after
{
   left: 1px;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #FFFFFF;
}
#blogCard2 .popover-arrow{
   top: 9.5px;
}
#blogCard2{
   height: 100%;
}
#wb_blogLayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#blogLayoutGrid4
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#blogLayoutGrid4 > .col-1, #blogLayoutGrid4 > .col-2, #blogLayoutGrid4 > .col-3, #blogLayoutGrid4 > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#blogLayoutGrid4 > .col-1, #blogLayoutGrid4 > .col-2, #blogLayoutGrid4 > .col-3, #blogLayoutGrid4 > .col-4
{
   flex: 0 0 auto;
}
#blogLayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid4 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 0 20px 0;
}
#blogLayoutGrid4 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-basis: 60px;
   max-width: 60px;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#blogLayoutGrid4 > .col-2::before
{
   content: "";
   border-left: 3px solid #000000;
   width: 0px;
   height: 100%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
#blogLayoutGrid4 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 1.67);
   max-width:  calc((100% - 60px) / 1.67);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#blogLayoutGrid4 > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#blogLayoutGrid4 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis:  calc((100% - 60px) / 5);
   max-width:  calc((100% - 60px) / 5);
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#blogLayoutGrid4 > .col-1, #blogLayoutGrid4 > .col-2, #blogLayoutGrid4 > .col-3, #blogLayoutGrid4 > .col-4
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Shape3
{
   margin: 25px 0 0 0 ;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_blogCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 5px 5px 5px 5px;
}
#blogCard3{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#blogCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#blogCard3-card-item0
{
   box-sizing: border-box;
   margin: 15px 0 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 48px;
   width: 100%;
   height: 48px;
}
#blogCard3-card-item1
{
   box-sizing: border-box;
   margin: -60px 0 0 0 ;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
   text-align: right;
}
#blogCard3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard3-card-item1 i
{
   color: #1DA1F2;
   margin-left: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#blogCard3-card-item2
{
   box-sizing: border-box;
   margin: -40px 0 0 0 ;
   padding: 0 10px 2px 80px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
}
#blogCard3-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard3-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 2px 10px 26px 80px;
   background-color: transparent;
   background-image: none;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: left;
}
#blogCard3-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#blogCard3-card-item4
{
   box-sizing: border-box;
   margin: 10px 20px 10px 20px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
}
#blogCard3-card-item5
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
   color: #607486;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#blogCard3-card-item6
{
   box-sizing: border-box;
   margin: 0 20px 16px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard3-card-item7
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard3-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard3-card-item8
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard3-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard3-card-item9
{
   display: inline-block;
   height: 13px;
   box-sizing: border-box;
   margin: 0 20px 10px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #5B7083;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#blogCard3-card-item9 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#blogCard3-card-item10
{
   box-sizing: border-box;
   margin: 0 20px 10px 20px;
   border-top: 1px #FFFFFF solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#blogCard3 .popover-arrow
{
   position: absolute;
   display: block;
   width: 19px;
   height: 9.5px;
   margin: 0;
}
#blogCard3 .popover-arrow::before, #blogCard3 .popover-arrow::after
{
   position: absolute;
   display: block;
   content: "";
   border-color: transparent;
   border-style: solid;
}
#blogCard3, .blogCard3.bs-popover-auto[x-placement^="right"]
{
   margin-left: 9.5px;
}
#blogCard3 > .popover-arrow, .blogCard3.bs-popover-auto[x-placement^="right"] > .popover-arrow 
{
   left: 0;
   width: 9.5px;
   height: 19px;
   margin: 0;
}
#blogCard3 > .popover-arrow::before, .blogCard3.bs-popover-auto[x-placement^="right"] > .popover-arrow::before
{
   left: 0;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #DEDEDE;
}
#blogCard3 > .popover-arrow::after, .blogCard3.bs-popover-auto[x-placement^="right"] > .popover-arrow::after
{
   left: 1px;
   border-width: 9.5px 9.5px 9.5px 0;
   border-right-color: #FFFFFF;
}
#blogCard3 .popover-arrow{
   top: 9.5px;
}
#blogCard3{
   height: 100%;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #323232;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
